@using Azure.Core
@using Childrens_Social_Care_CPD.Enums
@using Contentful.AspNetCore.TagHelpers
@using Microsoft.AspNetCore.WebUtilities
@using System.Text
@addTagHelper *, Contentful.AspNetCore

@{
    var pageName = ViewBag.pageName;
    ASCIIEncoding ascii = new ASCIIEncoding();
    var redirectURL = @ViewBag.Referer == null ? @ViewBag.Referer :ascii.GetString( WebEncoders.Base64UrlDecode(@ViewBag.Referer));
    var returnUrl = string.Format("<a class=\"govuk-link\" href={0}>{1}</a>", redirectURL, " Go back to the page you were looking at");
    NotificationBanner banner = new NotificationBanner()
            {
                Header = "Success",
                HtmlContents = true,
                NotificationMessage = $"You’ve set your cookie preferences.{returnUrl}"

            };
}
<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            @banner.Header
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            @if (banner.HtmlContents)
            {
                @Html.Raw(@banner.NotificationMessage);
            }
            else
            {
                @banner.NotificationMessage
            }
        </p>
    </div>
</div>
