@using Childrens_Social_Care_CPD.Enums
@using Contentful.Core.Models;
@using System.Text
@addTagHelper *, Contentful.AspNetCore
@model List<RichText>;

@if (Model != null)
{
    @foreach (var richText in Model)
    {
        @if (!String.IsNullOrEmpty(richText.Heading))
        {
            <h2 class="govuk-heading-l">@richText.Heading</h2>
        }

        @foreach (IContent node in richText.RichTextContents.Content)
        {
            switch (node)
            {
                case Contentful.Core.Models.Paragraph paragraph:

                    if (paragraph.Content.Any(c => c.GetType() == typeof(Hyperlink)))
                    {
                        StringBuilder contentBuilder = new StringBuilder();
                        @foreach (var content in paragraph.Content)
                        {
                            if (content.GetType() == typeof(Text))
                            {
                                contentBuilder.Append((((Contentful.Core.Models.Text)content).Value));
                            }
                            if (content.GetType() == typeof(Hyperlink))
                            {
                                var linkElement = ((Contentful.Core.Models.Hyperlink)content);
                                var linkText = ((Contentful.Core.Models.Text)(linkElement).Content[0]).Value;
                                contentBuilder.Append(string.Format(("<a href={0}>{1}</a>"), linkElement.Data.Uri, linkText));
                            }
                        }

                        if (richText.RichTextRenderType == RichTextRenderType.CookieBanner.ToString() ||
                        richText.RichTextRenderType == RichTextRenderType.SupportingPages.ToString())
                        {
                            @Html.Raw($"<p class={"govuk-body"}>{contentBuilder.ToString()}</p>")
                        }
                        else
                        {
                            @Html.Raw($"<p class={"govuk-body-m"}>{contentBuilder.ToString()}</p>")
                        }
                    }
                    else
                    {
                        @foreach (var content in paragraph.Content)
                        {
                            if (content.GetType() == typeof(Text))
                            {
                                if (richText.RichTextRenderType == RichTextRenderType.CookieBanner.ToString() ||
                                   richText.RichTextRenderType == RichTextRenderType.SupportingPages.ToString())
                                {
                                    <p class="govuk-body">@(((Contentful.Core.Models.Text)content).Value)</p>
                                }
                                else
                                {
                                    <p class="govuk-body-m">@(((Contentful.Core.Models.Text)content).Value)</p>
                                }
                            }
                        }
                    }

                    break;
                case Contentful.Core.Models.List list:

                    @if (list.Content.Count > 0)
                    {
                        <ul class="govuk-list govuk-list--bullet">

                            @foreach (var link in list.Content)
                            {
                                var innerElement = (Contentful.Core.Models.Paragraph)(((Contentful.Core.Models.ListItem)link).Content[0]);
                                <li>@(((Contentful.Core.Models.Text)innerElement.Content[0]).Value)</li>
                            }

                        </ul>
                    }

                    break;
                case Contentful.Core.Models.Heading2 heading2:

                    @foreach (var content in heading2.Content)
                    {
                        if (content.GetType() == typeof(Text))
                        {
                            <h2 class="govuk-heading-m">@(((Contentful.Core.Models.Text)content).Value)</h2>
                        }
                    }

                    break;
                case Contentful.Core.Models.Heading1 heading1:

                    @foreach (var content in heading1.Content)
                    {
                        if (content.GetType() == typeof(Text))
                        {
                            <h1 class="govuk-heading-l">@(((Contentful.Core.Models.Text)content).Value)</h1>
                        }
                    }

                    break;
                case Contentful.Core.Models.Table table:

                    @if (table.Content.Any())
                    {
                        <table class="govuk-table">
                            @foreach (TableRow row in table.Content)
                            {
                                if (@row.Content.Any(x => x.GetType() == typeof(Contentful.Core.Models.TableHeader)))
                                {
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            @foreach (TableHeader header in @row.Content)
                                            {
                                                <th scope="col" class="govuk-table__header">@(((Contentful.Core.Models.Text)((Contentful.Core.Models.Paragraph)header.Content[0]).Content[0]).Value)</th>
                                            }
                                        </tr>
                                    </thead>
                                }
                            }
                             <tbody class="govuk-table__body">
                             @foreach (TableRow row in table.Content)
                            {
                                if (@row.Content.Any(x => x.GetType() == typeof(Contentful.Core.Models.TableCell)))
                                {
                                    <tr class="govuk-table__row">
                                            @foreach (TableCell tableCell in @row.Content)
                                            {
                                                <td class="govuk-table__cell">@(((Contentful.Core.Models.Text)((Contentful.Core.Models.Paragraph)tableCell.Content[0]).Content[0]).Value)</td>
                                            }
                                    </tr>
                                }
                            }
                             </tbody>
                        </table>
                    }

                    break;
            }

        }

    }
}