@using Contentful.Core.Models;
@model ContentfulCollection<Page>
@{
    ViewData["Title"] = "Home Page";
}

@{
    var HomepageModel = Model.FirstOrDefault();
}

<section class="app-section app-section-beta--blue govuk-!-margin-top-6">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-!-padding-top-6">
                <h1 class="govuk-heading-xl body-header-font">@HomepageModel.Section1Header</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">@HomepageModel.Section1</p>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@HomepageModel.Section2Header</h1>
            <p class="govuk-body">@HomepageModel.Section2</p>
        </div>
    </div>
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
            <div class="section-card">
                <h3 class="govuk-heading-m"><a href="asye" class="govuk-link">@HomepageModel.Section3Header</a></h3>
                <p class="govuk-!-margin-bottom-1">@HomepageModel.Section3</p>
            </div>
        </div>
        <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
            <div class="section-card">
                <h3 class="govuk-heading-m"><a href="pathway-1?sending-page=p" class="govuk-link">@HomepageModel.Section4Header</a></h3>
                <p class="govuk-!-margin-bottom-6">@HomepageModel.Section4</p>
            </div>
        </div>
    </div>
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
            <div class="section-card">
                <h3 class="govuk-heading-m"><a href="practice-supervisors" class="govuk-link">@HomepageModel.Section5Header</a></h3>
                <p class="govuk-!-margin-bottom-6">@HomepageModel.Section5</p>
            </div>
        </div>
        <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
            <div class="section-card">
                <h3 class="govuk-heading-m"><a href="middle-managers-and-heads-of-service" class="govuk-link">@HomepageModel.Section6Header</a></h3>
                <p class="govuk-!-margin-bottom-6">@HomepageModel.Section6</p>
            </div>
        </div>
    </div>
    <div class='govuk-grid-row'>
        <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
            <div class="section-card">
                <h3 class="govuk-heading-m"><a href="senior-managers-and-leaders" class="govuk-link">@HomepageModel.Section7Header</a></h3>
                <p class="govuk-!-margin-bottom-6">@HomepageModel.Section7</p>
            </div>
        </div>
    </div>

</div>
