@using Childrens_Social_Care_CPD.Constants
@using Childrens_Social_Care_CPD.Enums
@model ErrorViewModel

<div class="govuk-width-container ">
    @{
        await Html.RenderPartialAsync("../PartialViews/Breadcrumb");
    }
    @if (@Model.ErrorCode == System.Net.HttpStatusCode.NotFound)
    {
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Page not found</h1>
                    <p class="govuk-body">
                        If you typed the web address, check it is correct.
                    </p>
                    <p class="govuk-body">
                        If you pasted the web address, check you copied the entire address.
                    </p>
                    <p class="govuk-body">
                        If the web address is correct or you selected a link or button, <a href="mailto:develop-child-family-social-work-career-team@digital.education.gov.uk" class="govuk-link">contact the Develop your career in child and family social work team</a> if you need to speak to someone.
                    </p>
                </div>
            </div>

        </main>
    }
    else if (@Model.ErrorCode == System.Net.HttpStatusCode.InternalServerError)
    {
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
                    <p class="govuk-body">Try again later.</p>
                    <p class="govuk-body">
                        <a class="govuk-link" href="mailto:develop-child-family-social-work-career-team@digital.education.gov.uk">Contact the Develop your career in child and family social work team</a> if you need to speak to someone.
                    </p>
                </div>
            </div>
        </main>
    }
</div>

@if (Environment.GetEnvironmentVariable(SiteConstants.ENVIRONMENT) == AppEnvironment.dev.ToString())
{
    <div class="govuk-width-container">
        <h2>Error Message</h2>
        <p class="govuk-body">@Model.ErrorMessage</p>
        <h2>Inner Exception</h2>
        <p class="govuk-body">@Model.InnerException</p>
        <h2>Exception Source</h2>
        <p class="govuk-body">@Model.Source</p>
        <h2>Stack trace</h2>
        <p class="govuk-body">@Model.StackTrace</p>
    </div>
}