@using Contentful.Core.Models;
@model PageViewModel;
@{
    ViewData["Title"] = "Home Page";
}

@if (Model != null)
{

<section class="app-section app-section-beta--blue govuk-!-margin-top-6">
    <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full govuk-!-padding-top-6">
                    <h1 class="govuk-heading-xl body-header-font">@Model.Paragraphs.ToList()[0].Heading</h1>
                    <p class="govuk-body govuk-!-font-size-24 body-header-font">@Model.Paragraphs.ToList()[0].Contents</p>
                </div>
            </div>
    </div>
</section>
<div class="container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@Model.Paragraphs.ToList()[1].Heading</h1>
            <p class="govuk-body">@Model.Paragraphs.ToList()[1].Contents</p>
        </div>
    </div>

    @if (@Model.Roles != null)
    {
        { await Html.RenderPartialAsync("../Templates/Role", @Model.Roles); }
    }

</div>
}