@using Contentful.Core.Models;
@model PageViewModel;

@if (Model != null)
{

    <section class="app-section app-section-beta--blue govuk-!-margin-top-6">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds-from-desktop">
                    <h1 class="govuk-heading-xl body-header-font">@Model.PageHeading</h1>
                    <p class="govuk-body govuk-!-font-size-24 body-header-font">@Model.PageSubHeading</p>
                </div>
            </div>
        </div>
    </section>
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">@Model.Paragraphs.ToList()[1].Heading</h1>
                    <p class="govuk-body">@Model.Paragraphs.ToList()[1].Contents</p>
                </div>
            </div>

            @if (@Model.Roles != null)
            {
                { await Html.RenderPartialAsync("../Templates/Role", @Model.Roles); }
            }
        </main>

    </div>
}