@using Contentful.Core.Models;
@using Microsoft.AspNetCore.Html;
@using System.Text
@model PageViewModel;

@if (Model != null)
{
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (!String.IsNullOrEmpty(@Model.PageSubHeading))
                    {
                        <span class="govuk-caption-l">@Model.PageSubHeading</span>
                    }
                     @if (!String.IsNullOrEmpty(@Model.PageHeading))
                    {
                        <h1 class="govuk-heading-xl">@Model.PageHeading</h1>
                    }
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <dl class="govuk-summary-list">
                        @foreach (var label in @Model.Labels)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">@label.labelHeading</dt>
                                @if (@label.LabelType == "Text")
                                {
                                   <dd>@label.LabelText</dd>
                                }
                                else
                                {
                                  <dd><a class="govuk-!-font-size-19" href="@{@label.LabelTextLink}">@label.LabelText</a></dd>
                                }
                            </div>
                        }
                    </dl>
                    @foreach(var richText in @Model.RichTexts) 
                    {
                        @if(!String.IsNullOrEmpty(@richText.Heading))
                        {
                            <h2 class="govuk-heading-l">@richText.Heading</h2>
                        }

                        @foreach (IContent node in @richText.RichTextContents.Content)
                        {
                            switch (node)
                            {
                                case Contentful.Core.Models.Paragraph paragraph:

                                    if (@paragraph.Content.Any(c => c.GetType() == typeof(Hyperlink)))
                                    {
                                        StringBuilder contentBuilder = new StringBuilder();
                                        @foreach (var content in @paragraph.Content)
                                        {
                                            if (@content.GetType() == typeof(Text))
                                            {
                                                contentBuilder.Append((((Contentful.Core.Models.Text)@content).Value));
                                            }
                                            if (@content.GetType() == typeof(Hyperlink))
                                            {
                                                var linkElement = ((Contentful.Core.Models.Hyperlink)@content);
                                                var linkText = ((Contentful.Core.Models.Text)(linkElement).Content[0]).Value;
                                                contentBuilder.Append(String.Format(("<a href={0}>{1}</a>"), linkElement.Data.Uri, linkText));
                                            }
                                        }

                                        @Html.Raw(String.Format("<p class={0}>{1}</p>","govuk-body-m",@contentBuilder.ToString()));
                                    }
                                    else
                                    {
                                        @foreach (var content in @paragraph.Content)
                                        {
                                            if (@content.GetType() == typeof(Text))
                                            {

                                                <p class="govuk-body-m">@(((Contentful.Core.Models.Text)@content).Value)</p>
                                            }
                                           
                                        }
                                    }

                                    break;
                                case Contentful.Core.Models.List list:

                                    @if (@list.Content.Count > 0)
                                    {
                                        <ul class="govuk-list govuk-list--bullet">

                                            @foreach (var link in @list.Content)
                                            {
                                                var innerElement = (Contentful.Core.Models.Paragraph)(((Contentful.Core.Models.ListItem)@link).Content[0]);
                                                <li>@(((Contentful.Core.Models.Text)@innerElement.Content[0]).Value)</li>
                                            }

                                        </ul>
                                    }

                                    break;
                            }

                        }

                    }


                </div>
            </div>

        </main>
    </div>
}