@using Contentful.Core.Models;
@model PageViewModel;

@if (@Model != null)
{
    <div class="govuk-width-container ">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            @foreach (var paragraph in @Model.Paragraphs)
            {
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        @if (!string.IsNullOrEmpty(@paragraph.Heading))
                        {
                            <h1 class="govuk-heading-l">@paragraph.Heading</h1>
                        }

                        @{
                            var listItems = @paragraph.Contents.Split('\n').ToList();
                            if (listItems.Count > 0 && @paragraph.Contents.Contains('\n'))
                            {
                                <ul class="govuk-list govuk-list--bullet">
                                    @foreach (var item in listItems)
                                    {
                                        @if (!string.IsNullOrEmpty(item) && @item.Substring(0, 1) == "-")
                                        {
                                             <li>@item.Substring(1)</li>
                                        }
                                    }
                                </ul>
                            }
                            else
                            {
                                <p class="govuk-body">@paragraph.Contents</p>
                            }
                        }

                    </div>
                </div>
            }

            @if (@Model.Roles != null)
            {
                { await Html.RenderPartialAsync("../Templates/Role", @Model.Roles); }
            }
        </main>
    </div>
}