@using Contentful.Core.Models;
@model PageViewModel;
@{
    ViewData["Title"] = "Home Page";
}

@if (@Model != null)
{
    <div class="container">
    @foreach (var paragraph in @Model.Paragraphs)
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">@paragraph.Heading</h1>
                <p class="govuk-body">@paragraph.Contents</p>
            </div>
        </div>
    }

    @if (@Model.Roles != null)
    {
        { await Html.RenderPartialAsync("../Templates/Role", @Model.Roles); }
    }
    </div>
}
