@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.GraphQL.Queries;

@model SearchResourcesByTags.SearchResult

<div>
    <h2><a href="@Model.LinkedFrom.ContentCollection.Items.First().Id">@Model.Title</a></h2>
    <p>@Model.SearchSummary</p>
    <ul class="govuk-list govuk-body-s" style="display:flex; gap:15px; flex-flow:row">
        <li>From: @Model.From</li>
        <li>Update: <time datetime="@Model.Sys.PublishedAt?.ToString("yyyy-MM-dd")">@Model.Sys.PublishedAt?.ToString("dd MMMM yyyy")</time></li>
        <li>Resource type: @string.Join(", ", Model.Type.ToArray())</li>
    </ul>
</div>