@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.GraphQL.Queries;

@model SearchResourcesByTags.SearchResult

@{
    var properties = new Dictionary<string, string>(Model.ContentfulMetaData.Tags.Where(x => x.Name.StartsWith("Resource:")).Select(x =>
    {
        var property = x.Name[9..];
        var tokens = property.Split('=');
        return tokens.Length > 1
            ? KeyValuePair.Create(tokens[0].Trim(' '), tokens[1].Trim(' '))
            : KeyValuePair.Create(property, string.Empty);
    }));
}

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
    <h3 class="govuk-heading-m"><a href="/@Model.Id">@Model.ContentTitle</a>&nbsp;
        @if (properties.ContainsKey("Label"))
        {
            <strong class="govuk-tag govuk-tag--blue">@properties["Label"]</strong>
        }
    </h3>
    <p class="govuk-body">@Model.SearchSummary</p>
    
    <ul class="dfeuk-document-list__item-metadata">
        @if (properties.ContainsKey("From"))
        {
            <li class="gdfeuk-document-list__attribute">From:&nbsp;@properties["From"]</li>
        }
        
        <li class="gdfeuk-document-list__attribute">
            Published: <time datetime="@Model.Sys.FirstPublishedAt?.ToString("yyyy-MM-dd")">@Model.Sys.FirstPublishedAt?.ToString("dd MMMM yyyy")</time>
        </li>
        <li class="gdfeuk-document-list__attribute">
            Updated: <time datetime="@Model.Sys.PublishedAt?.ToString("yyyy-MM-dd")">@Model.Sys.PublishedAt?.ToString("dd MMMM yyyy")</time>
        </li>
    </ul>
</li>
