@using Childrens_Social_Care_CPD.Configuration
@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful.Renderers;
@using Contentful.Core.Models;

@model Content;

@inject IRenderer<RelatedContent> _relatedContentRenderer
@inject IFeaturesConfig featuresConfig

@{
    Layout = "_DefaultPageLayout";
}

@section Head {
    @if (ViewData.TryGetValue("StateModel", out var stateModel) && ((StateModel)stateModel).IncludeMediaPlayer)
    {
        <link href="/css/mediaelement-player.min.css" rel="stylesheet" />
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Resources</span>
        <h1>@Model.ContentTitle</h1>

        @if (Model.ContentSubtitle != null)
        {
            <p class="govuk-body">@Model.ContentSubtitle</p>
        }
        
        @if (Model.Navigation != null)
        {
            <aside>
                <cpd-resource-nav navigation="@Model.Navigation?.Items" selected="@Model.Id" />
            </aside>
        }
        
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<cpd-properties-list items="@ViewBag.Properties" />

@if (featuresConfig.IsEnabled(Features.FeedbackControl))
{
    <partial name="_Feedback" />
}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<partial name="_Content" model="Model" />


<cpd-resource-page-nav navigation="@Model.Navigation?.Items" current="@Model.Id" />

@_relatedContentRenderer.Render(Model.RelatedContent)

@section Scripts {
    @if (ViewData.TryGetValue("StateModel", out var stateModel) && ((StateModel)stateModel).IncludeMediaPlayer)
    {
        <script src=/javascript/mediaelement-and-player.min.js></script>
        <script src=/javascript/mediaelement-configuration.js></script>
    }
}