@using Childrens_Social_Care_CPD.Contentful.Models;

@model Content

@{
    var contextModel = (ContextModel)ViewData["ContextModel"];
    var breadcrumbs = contextModel.BreadcrumbTrail;
    breadcrumbs.Reverse();
}

<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ul>
    @{
        switch (Model.PageType)
        {
            case PageType.PathwaysTrainingContent:
                Content navigationPage = @Model.PathwaysModule.Type == PathwaysModuleType.IntroductoryModule
                    ? Model.PathwaysModule.OverviewPage
                    : Model.PathwaysModule.ContentsPage;

                string linkText = navigationPage.BreadcrumbText ?? navigationPage.Title;

                <li class="govuk-breadcrumbs__list-item">
                    &lt;
                    <a class="govuk-breadcrumbs__link" href="/@navigationPage.Id">
                        Back to @linkText
                    </a>
                </li>
            break;

            case PageType.PathwaysOverviewPage:
                <li class="govuk-breadcrumbs__list-item">
                    &lt;
                    <a class="govuk-breadcrumbs__link" href="@contextModel.NavigationHelper.AvailablePathwaysPage.Url">
                        Back to Available pathways
                    </a>
                </li>
            break;

            case PageType.PathwaysContentsPage:
                <li class="govuk-breadcrumbs__list-item">
                    &lt;
                    <a class="govuk-breadcrumbs__link" href="@contextModel.NavigationHelper.Previous.Url">
                        @contextModel.NavigationHelper.Previous.Name
                    </a>
                </li>
            break;

            default:
                @foreach(KeyValuePair<string, string> trailItem in breadcrumbs)
                {
                    if (@trailItem.Value != @Model.Id) {
                        <li class="govuk-breadcrumbs__list-item">
                            <a class="govuk-breadcrumbs__link" href="/@trailItem.Value">
                                @trailItem.Key
                            </a>
                        </li>
                    }
                }
            break;
        }
    }

    </ul>
</div>