@using Childrens_Social_Care_CPD.Enums
@using Contentful.Core.Models
@using Microsoft.AspNetCore.Http.Features
@using System.Text
@using Childrens_Social_Care_CPD.Constants;

 @{
    var cookieBannerViewModel = (ViewBag.CookieBanner as CookieBanner);
 }

@{
    var acceptsAnalytics = Context.Request.Cookies[SiteConstants.ANALYTICSCOOKIENAME]?.Equals("accept");
}

@if (acceptsAnalytics == null && cookieBannerViewModel != null)
{
    @using (@Html.BeginForm("LandingPage", "CPD",null, FormMethod.Post,false, null))
    {
        <input type="hidden" id="pageNameId" value="@{@ViewBag.pageName}" name="pageName"/>
        <input type="hidden" id="pageTypeId" value="@{@ViewBag.pageType}" name="pageType"/>
        <div class="govuk-cookie-banner" id="divCookieBannerId" data-nosnippet="" role="region" aria-label="@{@cookieBannerViewModel.CookieBannerHeading}">

            @if (ViewBag.analyticsCookieSet == SiteConstants.ANALYTICSCOOKIEACCEPTED  
            || ViewBag.analyticsCookieSet == SiteConstants.ANALYTICSCOOKIEREJECTED )
            {
                <div class="govuk-cookie-banner__message govuk-width-container" id="divCookieMessageActioned">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <div class="govuk-cookie-banner__content">
                                @{
                                    var richTextDocument = ViewBag.analyticsCookieSet == SiteConstants.ANALYTICSCOOKIEACCEPTED ? 
                                    cookieBannerViewModel.AcceptedCookieMessage : cookieBannerViewModel.RejectedCookieMessage;
                                    var richTexts = new List<RichText>() { new RichText { RichTextContents = richTextDocument, RichTextRenderType = RichTextRenderType.CookieBanner.ToString() } };
                                    await Html.RenderPartialAsync("../PartialViews/RichTextRenderer", richTexts);
                                }
                            </div>
                        </div>
                    </div>
                    <div class="govuk-button-group">
                        <a href="javascript:void(0);" onclick="hideCookieMessage();" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                            @cookieBannerViewModel.HideCookieMessageButtonText
                        </a>
                    </div>
                </div>
            }
            else
            {
                <div class="govuk-cookie-banner__message govuk-width-container">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                            <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Develop your career in child and family social work</h2>
                            <div class="govuk-cookie-banner__content">
                                @{
                                    var richTexts = new List<RichText>() { new RichText { RichTextContents = cookieBannerViewModel.CookieMessageBody, RichTextRenderType = RichTextRenderType.CookieBanner.ToString() } };
                                    await Html.RenderPartialAsync("../PartialViews/RichTextRenderer", richTexts);
                                }
                            </div>
                        </div>
                    </div>
                    <div class="govuk-button-group">
                        <button value="accept" type="submit" name="analyticsCookieConsent" id="btnAccept" class="govuk-button" data-module="govuk-button">
                            @cookieBannerViewModel.AcceptCookieButtonText
                        </button>
                        <button value="reject" type="submit" name="analyticsCookieConsent" id="btnReject" class="govuk-button" data-module="govuk-button">
                            @cookieBannerViewModel.RejectCookieButtonText
                        </button>
                        @{
                            var sendingPage = String.IsNullOrEmpty(@ViewBag.pageName) ? PageNames.HomePage : @ViewBag.pageName;
                            var sendingPageType = String.IsNullOrEmpty(ViewBag.pageType)?PageTypes.Master:ViewBag.pageType;
                            var viewCookiesUrl = $"{@cookieBannerViewModel.ViewCookiesLink.LinkURL}&sendingPage={sendingPage}&sendingPageType={sendingPageType}";
                        }

                        <a class="govuk-link" href="@{@viewCookiesUrl}">@cookieBannerViewModel.ViewCookiesLink.LinkText</a>
                    </div>
                </div>
            }
        </div>
    }
}

<script>
    function hideCookieMessage()
    {
       $('#divCookieBannerId').hide();
    }
</script>
