@using Childrens_Social_Care_CPD.Contentful;
@using Childrens_Social_Care_CPD.Contentful.Models;
@using Childrens_Social_Care_CPD.Contentful.Renderers;

@inject ICookieHelper _cookieHelper
@inject IRenderer<ContentLink> _contentLinkRenderer

@{
    var hide = ViewBag.ContextModel.HideConsent ?? false;

    if (hide)
        return;

    var consentState = _cookieHelper.GetRequestAnalyticsCookieState(Context);
    var headingText = "Cookies on Support for social workers";
    var preferenceSet = ViewBag.ContextModel.PreferenceSet ?? false;
    var request = Url.ActionContext.HttpContext.Request;

    var path = request.Path.Value?.TrimStart('/') ?? request.Path.Value;
    var cookiesUrl = string.IsNullOrEmpty(path)
        ? "/cookies"
        : $"/cookies?sourcePage={Html.UrlEncoder.Encode(path)}";
}

@if (consentState == AnalyticsConsentState.NotSet)
{
    @using (@Html.BeginForm("SetPreferences", "Cookie", new { sourcePage = path }, FormMethod.Post, true, null))
    {
        <div class="govuk-cookie-banner" id="divCookieBannerId" data-nosnippet="" role="region" aria-label="@headingText">
            <div class="govuk-cookie-banner__message govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <h2 class="govuk-cookie-banner__heading govuk-heading-m">@headingText</h2>
                        <div class="govuk-cookie-banner__content">
                            <p>We use some essential cookies to make this service work.</p>

                            <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
                        </div>
                    </div>
                </div>
                <div class="govuk-button-group">
                    <button value="accept" type="submit" name="consentValue" id="btnAccept" class="govuk-button" datatestid="btn-accept" data-module="govuk-button">
                        Accept analytics cookies
                    </button>
                    <button value="reject" type="submit" name="consentValue" id="btnReject" class="govuk-button" datatestid="btn-reject" data-module="govuk-button">
                        Reject analytics cookies
                    </button>
                    <a class="govuk-link" datatestid="btn-viewCookies" href="@cookiesUrl">View cookies</a>
                </div>
            </div>
        </div>
    }
}
else if (preferenceSet)
{
    var consentVerb = consentState == AnalyticsConsentState.Accepted ? "accepted" : "rejected";

    <div class="govuk-cookie-banner" id="divCookieBannerId" data-nosnippet="" role="region" aria-label="@headingText">
        <div class="govuk-cookie-banner__message govuk-width-container" id="divCookieMessageActioned">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <div class="govuk-cookie-banner__content">
                        <p>You’ve @consentVerb analytics cookies. You can
                            @_contentLinkRenderer.Render(new ContentLink() { Name = "change your cookie settings", Uri = cookiesUrl }))
                             at any time.</p>
                    </div>
                </div>
            </div>
            <div class="govuk-button-group">
                <button onclick="$('#divCookieBannerId').hide()" datattestid="btn-hideCookie" class="govuk-button" data-module="govuk-button">Hide cookie message</button>
            </div>
        </div>
    </div>
}