@using Childrens_Social_Care_CPD.Contentful
@using Childrens_Social_Care_CPD.Contentful.Models
@using Childrens_Social_Care_CPD.Contentful.Renderers
@using Contentful.Core.Models
@using Childrens_Social_Care_CPD.Controllers
@using Microsoft.AspNetCore.Html

@model Resource

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Resources</span>
        <h1>@Model.Title</h1>
        <p>@Model.Summary</p>
    </div>
</div>
<hr />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <dl class="govuk-summary-list govuk-!-font-size-16">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    From
                </dt>
                <dd class="govuk-summary-list__value">
                    @Model.From
                </dd>
            </div>
            @if (Model.Sys.CreatedAt.HasValue)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Published
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Sys.CreatedAt?.ToString("dd MMMM yyyy")
                    </dd>
                </div>
            }
            @if (Model.Sys.UpdatedAt.HasValue)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Updated
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.Sys.UpdatedAt?.ToString("dd MMMM yyyy")
                    </dd>
                </div>
            }

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Resource type
                </dt>
                <dd class="govuk-summary-list__value">
                    @string.Join(", ", Model.Type.ToArray())
                </dd>
            </div>
        </dl>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        @{
            ContextModel model = (ContextModel)ViewBag.ContextModel;
            // We use the content stack to track circular dependencies and prevent overflows
            model.ContentStack.Push(Model.Title);

            if (Model.Items != null)
            {
                foreach (var item in Model.Items)
                {
                    var preventOverflow = item as Content;
                    if (preventOverflow != null && model.ContentStack.Contains(preventOverflow.Id))
                    {
                        <partial name="_OverflowWarning" />
                        continue;
                    }

                    await Html.RenderContentfulPartialAsync(item);
                }
            }

            model.ContentStack.Pop();
        }
    </div>
</div>
