@inject ICookieHelper _cookieHelper;

<!DOCTYPE html>
<html lang="en" class="govuk-template">
<head>
    <title>@ViewBag.ContextModel.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="title" property="og:title" content="Support for social workers" />
    <meta name="image" property="og:image" content="https://www.support-for-social-workers.education.gov.uk/assets/images/Title-card-png8.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Support for social workers" />
    <meta name="twitter:image" content="https://www.support-for-social-workers.education.gov.uk/assets/images/Title-card-png8.png" />
    <link href="~/css/application.min.css" rel="stylesheet" />
    @if (_cookieHelper.GetRequestAnalyticsCookieState(Context) == AnalyticsConsentState.Accepted)
    {
        <partial name="_GoogleAnalyticsPartial" />
    }
    @await RenderSectionAsync("Head", required: false)
    @Html.RenderScripts(ScriptPosition.HeadEnd)

    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon">

</head>
<body class="govuk-template__body">
    @Html.RenderScripts(ScriptPosition.BodyStart)
    <partial name="_CookiesAndAnalyticsConsent" />
    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link">Skip to main content</a>
    <div id="swcd-page-top"></div>
    <partial name="_Header" />
    <partial name="_BackLink" model="@ViewBag.ContextModel?.BackLink" />

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing govuk-!-padding-top-0" id="main-content" role="main">
        <partial name="_BetaBanner" />
        @await RenderSectionAsync("PageBanner", required: false)
        @await RenderSectionAsync("PromoBanner", required: false)
        @RenderBody()
    </main>

    <partial name="_Footer" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>
    <!-- component HTML -->
    <script src="/javascript/govuk-frontend.min.js" type="module"></script>
    <script src="/javascript/dfefrontend-2.0.0.min.js"></script>
    <script type="module">
        import { initAll } from '/javascript/govuk-frontend.min.js'
        initAll()
    </script>
    @await RenderSectionAsync("Scripts", required: false)
    @Html.RenderScripts(ScriptPosition.BodyEnd)
</body>
</html>
