@using Childrens_Social_Care_CPD.Contentful.Models;

@model VideoResource

@{
    ((StateModel)ViewData["StateModel"]).IncludeMediaPlayer = true;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        @if (!string.IsNullOrEmpty(Model.Length))
        {
            <p class="govuk-body">@Model.Length</p>
        }
        @if(!string.IsNullOrEmpty(Model.EmbeddedSourceUrl))
        {
            if (@Model.EmbeddedSourceUrl.IndexOf("vimeo") > -1)
            {
                <iframe width="560" height="315"
                        title="Vimeo Video"
                        src="@Model.EmbeddedSourceUrl"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                </iframe>
            }
            else
            {
                <video name="media" src="@Model.EmbeddedSourceUrl" preload="none"></video>         
            }
        }
        else
        {
            <video id="videoPlayer" name="media" preload="none">
                <source src="@Model.Video.File.Url">
            </video>
        }
        
        <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
            <summary class="govuk-details__summary"> <span class="govuk-details__summary-text">View transcript  </span></summary>
            <div class="govuk-details__text">
                @{
                    await Html.RenderPartialAsync("_RichText", Model.Transcript);
                }
            </div>
        </details>
    </div>
</div>