@using Azure.Search.Documents.Models
@using Childrens_Social_Care_CPD.Contentful.Models
@using Childrens_Social_Care_CPD.GraphQL.Queries
@using Childrens_Social_Care_CPD.Search
@using Microsoft.IdentityModel.Tokens

@model SearchResultViewModel

@{
    const int MaxFormatTags = 2;

    var tagInfos = Model.TagMap.Where(x => Model.SearchResult.Document.Tags.Contains(x.Key));
    var from = tagInfos.Where(x => x.Value.Category == "Resource provider").OrderBy(x => x.Value.DisplayName).FirstOrDefault();
    var topic = tagInfos.Where(x => x.Value.Category == "Topic").OrderBy(x => x.Value.DisplayName).FirstOrDefault();
    var formats = tagInfos.Where(x => x.Value.Category == "Format").OrderBy(x => x.Value.DisplayName).Take(MaxFormatTags);
}

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
    <h3 class="govuk-heading-m">
        <a href="/@Base64UrlEncoder.Decode(Model.SearchResult.Document.Id)">@Model.SearchResult.Document.Title</a>&nbsp;

        @foreach (var format in formats)
        {
            <span class="govuk-tag govuk-tag--blue">@format.Value.DisplayName</span>
        }
    </h3>

    @if (Model.SearchResult.Highlights?.Any() ?? false)
    {
        var highlight = Model.SearchResult.Highlights.First().Value.First();
        <p class="govuk-body search-result">@Html.Raw(highlight)</p>
    }
    else
    {
        <p class="govuk-body search-result">@Model.SearchResult.Document.Body</p>
    }

    <ul class="dfeuk-document-list__item-metadata">
        
        @if (from.Key != null)
        {
            <li class="gdfeuk-document-list__attribute">
                From: @from.Value.DisplayName
            </li>
        }
        
        <li class="gdfeuk-document-list__attribute">
            Published: <time datetime="@Model.SearchResult.Document.CreatedAt.ToString("yyyy-MM-dd")">@Model.SearchResult.Document.CreatedAt.ToString("dd MMMM yyyy")</time>
        </li>

        <li class="gdfeuk-document-list__attribute">
            Updated: <time datetime="@Model.SearchResult.Document.UpdatedAt.ToString("yyyy-MM-dd")">@Model.SearchResult.Document.UpdatedAt.ToString("dd MMMM yyyy")</time>
        </li>
        
        @if (topic.Key != null)
        {
            <li class="gdfeuk-document-list__attribute">
                Topic: @topic.Value.DisplayName
            </li>
        }

        @if (Model.SearchResult.Document.EstimatedReadingTime.HasValue && Model.SearchResult.Document.EstimatedReadingTime.Value > 0)
        {
            <li class="gdfeuk-document-list__attribute">
                Estimated read time: @Model.SearchResult.Document.EstimatedReadingTime mins
            </li>
        }
       
    </ul>
</li>