@using Azure.Search.Documents.Models
@using Childrens_Social_Care_CPD.Controllers
@using Childrens_Social_Care_CPD.Search

@model ResourceSearchResultsViewModel

@{
    // var sortOrders = new[]
    // {
    //     new { Value = "0", Text = "Updated (newest)", Selected = (int)Model.SortOrder == 0 },
    //     new { Value = "1", Text = "Updated (oldest)", Selected = (int)Model.SortOrder == 1 },
    //     new { Value = "2", Text = "Most relevant", Selected = (int)Model.SortOrder == 2 },
    // };

    var tagMap = Model.Tags.ToDictionary(t => t.TagName, t => t);
}

@if (Model.SearchResults.Any())
{
    <div class="grid-row pagination-container">
        <div class="column-half">
            <span class="summary">
                Showing @Model.StartResultCount - @Model.EndResultCount of <span id="ResultCount" class="result-count">@Model.TotalCount</span> results
            </span>
        </div>

        <div class="column-half">
            <div id="js-sort-options" data-ga4-change-category="update-sort select">
                <div class="sort-options gem-c-select">
                    <label for="order" class="sort-options__label govuk-label">Sort by</label>
                    <select asp-for="SortOrder" class="js-order-results govuk-select sort-options__select" name="sortOrder" id="sortOrder" onchange="document.getElementById('searchForm').submit()">
                        <option value="0">Updated (newest)</option>
                        <option value="1">Updated (oldest)</option>
                        <option value="2">Most relevant</option>
                    </select>
                    @* <select class="js-order-results govuk-select sort-options__select" name="sortOrder" id="sortOrder" onchange="document.getElementById('searchForm').submit()">
                        @foreach (var item in sortOrders)
                        {
                            <option value="@item.Value" selected="@item.Selected">@item.Text</option>
                        }
                    </select> *@
                    
                </div>
            </div>
        </div>
    </div>

    <ul class="dfeuk-document-list">
        @foreach (var contentItem in Model.SearchResults)
        {
            var model = new SearchResultViewModel(contentItem, tagMap);
            <partial name="_SearchResult" model="model" />
        }
    </ul>

    <div class="grid-row pagination-container">
        <div class="column-half">
            <span class="summary">
                Showing @Model.StartResultCount - @Model.EndResultCount of <span id="ResultCount" class="result-count">@Model.TotalCount</span> results
            </span>
        </div>

        @if (Model.TotalPages > 1)
        {
            <div class="column-half">
                <govuk-pagination url-format-string="@Model.PagingFormatString" page-count=@Model.TotalPages current-page=@Model.CurrentPage />
            </div>
        }
    </div>
}