@using Childrens_Social_Care_CPD.Configuration
@using Childrens_Social_Care_CPD.Controllers
@using Childrens_Social_Care_CPD.Core.Resources
@using Childrens_Social_Care_CPD.Models
@using Microsoft.AspNetCore.Html

@model ResourceSearchResultsViewModel

@inject IFeaturesConfig featuresConfig

@section PageBanner {
    <partial name="_PageBanner" model="Model.PageContent" />
}

<div class="govuk-width-container dfe-width-container">
    <form id="searchForm" method="get">
        <div class="govuk-grid-row">
            @* Filter column *@
            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Results</h2>
                <p class="govuk-!-margin-bottom-3">We found <strong>@Model.TotalCount</strong> results</p>

                @if (Model.SelectedTags.Any())
                {
                    <a href=@Model.ClearFiltersUri class="govuk-button govuk-button--secondary">
                        Clear all filters
                    </a>
                }

                <gds-filter>
                    @{
                        var groups = Model.FacetedTags.GroupBy(x => x.Key.Category);
                        var index = 1; // gov uk js requires starting at 1 for this control
                        foreach (var group in groups)
                        {
                            <gds-filter-category title="@group.Key" index="@index">
                                @foreach (var kvp in group)
                                {
                                    var isChecked = Model.SelectedTags.Contains(kvp.Key.TagName);
                                    var count = kvp.Value?.Count ?? 0;
                                    <gds-filter-checkbox id="tag-@kvp.Key.TagName" name="tags" checked="@isChecked" value="@kvp.Key.TagName">
                                        @kvp.Key.DisplayName (@count)
                                    </gds-filter-checkbox>
                                }
                            </gds-filter-category>
                            index++;
                        }
                    }

                </gds-filter>
            </div>

            @* Results column *@
            <div class="govuk-grid-column-two-thirds">
                <partial name="_SearchInput" model="Model.SearchTerm" />
                @if (Model.TotalPages == 0)
                {
                    <partial name="_NoResults" model="Model" />
                }
                else
                {
                    <partial name="_SearchResults" model="Model" />
                }
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/javascript/search-sort.js" asp-append-version="true"></script>
}