@using Childrens_Social_Care_CPD.Constants
@model PageViewModel

@foreach (var cardGroup in Model.Cards.Select((e, i) => new { Card = e, Grouping = (i / 2) }).GroupBy(e => e.Grouping))
    {
        <div class="govuk-grid-row dfe-section-card__container">
            @foreach (var card in cardGroup.Select(x => x.Card))
            {
            var cardHeaderTag = string.IsNullOrEmpty(card.CardHeadingLevel) ? SiteConstants.HEADING3 : card.CardHeadingLevel;
            var cardHeaderEndTag = $"</{cardHeaderTag}>";
            var cardCssClass = string.IsNullOrEmpty(card.CardHeadingCSS) ? SiteConstants.GOVUKHEADINGM : card.CardHeadingCSS;
            <div class="govuk-grid-column-one-half dfe-section-card__container">
                <div class="dfe-section-card">
                    @Html.Raw($"<{@cardHeaderTag} class=\"{@cardCssClass}\">")
                        @{
                            var pageName = card.RedirectPageName?.PageName;
                            var pageType = card.PageType?.PageType;
                        
                        var routeValues = new RouteValueDictionary 
                        {
                          { "pageName", card.RedirectPageName?.PageName },
                          { "pageType", card.PageType?.PageType },
                          { "sendingPage", Model.PageName.PageName },
                          { "sendingPageType", Model.PageType.PageType }
                        };
                        }
                    @Html.ActionLink(card.CardHeader,"LandingPage","CPD",routeValues , new { @class= "govuk-link", @datatestid= @card.RedirectPageName?.PageName })
                        @Html.Raw(@cardHeaderEndTag)
                        <p class="govuk-body">@card.CardContents</p>
                    </div>
                </div>
            }
        </div>
    }