@using Childrens_Social_Care_CPD.Enums
@model PageViewModel;

@if (Model != null)
{
    <div class="govuk-width-container">
          @{
        await Html.RenderPartialAsync("../PartialViews/Breadcrumb");
         }
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    @if (!String.IsNullOrEmpty(Model.PageSubHeading))
                    {
                        <span class="govuk-caption-l">@Model.PageSubHeading</span>
                    }
                     @if (!String.IsNullOrEmpty(Model.PageHeading))
                    {
                        <h1 class="govuk-heading-xl">@Model.PageHeading</h1>
                    }
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <dl class="govuk-summary-list">
                        @foreach (var label in Model.Labels)
                        {
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">@label.labelHeading</dt>
                                @if (label.LabelType == "Text")
                                {
                                    <dd>@label.LabelText</dd>
                                }
                                else
                                {
                                    <dd><a class="govuk-!-font-size-19" href="@{@label.LabelTextLink}">@label.LabelText</a></dd>
                                }
                            </div>
                        }
                    </dl>
                    @{await Html.RenderPartialAsync("../PartialViews/RichTextRenderer",Model.RichTexts);}
                </div>
                
                @{
                    var sideNaveLinks = Model.Links.Where(l => l.LinkSection == LinkSection.SideNav.ToString()).ToList();
                }
                @if (sideNaveLinks.Any())
                {
                    {await Html.RenderPartialAsync("../PartialViews/SideNav",sideNaveLinks);}
                }
            </div>
        </main>
    </div>
}